@font-face{ 
	font-family: 'helv';
	src: url('../fonts/Helvetica Neue Ultra-Light.ttf') format('truetype');
}

@font-face{ 
	font-family: 'pt';
	src: url('../fonts/PT Sans.ttf') format('truetype');
}

body {
	/*
	background-image: url(../img/bg_bottom.png);
	background-position: 100% 230%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/**/
	background-color: rgba(245, 245, 245, 1);
	font-family: 'pt';
	font-weight: lighter;
	letter-spacing: 2px;
}

div.left-bordered {
	border-left: white 1px solid;
}

div.right-bordered {
	border-right: white 1px solid;
}

div.top-bordered {
	border-top: white 1px solid;
}

div.bottom-bordered {
	border-bottom: white 1px solid;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'pt';
}

.padded {
	padding: 12px;
}

p.hover {
	padding: 2%;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

p.hover:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: default;
}

div.hover {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

div.hover:hover {
	background-color: rgba(0, 0, 0, 0.35);
	cursor: pointer;
}

tr.hover:hover {
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

/*
 * BACKGROUND COLORS
 */
.turquoise {
	background-color: #1abc9c;
	color: #fff;
}
.emerald {
	background-color: #2ecc71;
	color: #fff;
}
.peter-river {
	background-color: #3498db;
	color: #fff;
}
.amethyst {
	background-color: #9b59b6;
	color: #fff;
}
.wet-asphalt {
	background-color: #34495e;
	color: #fff;
}
.green-sea {
	background-color: #16a085;
	color: #fff;
}
.nephritis {
	background-color: #27ae60;
	color: #fff;
}
.belize-hole {
	background-color: #2980b9;
	color: #fff;
}
.wisteria {
	background-color: #8e44ad;
	color: #fff;
}
.midnight-blue {
	background-color: #2c3e50;
	color: #fff;
}
.sun-flower {
	background-color: #f1c40f;
	color: #fff;
}
.carrot {
	background-color: #e67e22;
	color: #fff;
}
.alizarin {
	background-color: #e74c3c;
	color: #fff;
}
.clouds {
	background-color: #ecf0f1;
	color: #c3c3c3;
}
.concrete {
	background-color: #95a5a6;
	color: #fff;
}
.orange {
	background-color: #f39c12;
	color: #fff;
}
.pumpkin {
	background-color: #d35400;
	color: #fff;
}
.pomegranate {
	background-color: #c0392b;
	color: #fff;
}
.silver {
	background-color: #bdc3c7;
	color: #fff;
}
.asbestos {
	background-color: #7f8c8d;
	color: #fff;
}

/*
 * TEXT COLORS
 */
.text-turquoise {
	color: #1abc9c;
}
.text-emerald {
	color: #2ecc71;
}
.text-peter-river {
	color: #3498db;
}
.text-amethyst {
	color: #9b59b6;
}
.text-wet-asphalt {
	color: #34495e;
}
.text-green-sea {
	color: #16a085;
}
.text-nephritis {
	color: #27ae60;
}
.text-belize-hole {
	color: #2980b9;
}
.text-wisteria {
	color: #8e44ad;
}
.text-midnight-blue {
	color: #2c3e50;
}
.text-sun-flower {
	color: #f1c40f;
}
.text-carrot {
	color: #e67e22;
}
.text-alizarin {
	color: #e74c3c;
}
.text-clouds {
	color: #ecf0f1;
}
.text-concrete {
	color: #95a5a6;
}
.text-orange {
	color: #f39c12;
}
.text-pumpkin {
	color: #d35400;
}
.text-pomegranate {
	color: #c0392b;
}
.text-silver {
	color: #bdc3c7;
}
.text-asbestos {
	color: #7f8c8d;
}


/*
 * TEXT FORMATS
 */
.underline {
	border-bottom: 1px solid #000;
}

.underline-light {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.underline-large {
	border-bottom: 3px solid #000;
}

.underline-dotted {
	border-bottom: 1px dotted #000;
}

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

.light {
	font-family: 'helv';
}

/*
 * FORMS
 */


fieldset {
	border: none;
	border: solid 1px rgba(0, 0, 0, 0);
	padding: 12px;
	margin: 20px;
}

input {
	border: none;
	border-left: solid 5px rgba(0, 0, 0, 0);
	padding: 8px;
	font-size: 1.2em;
	width: 100%;
	transition: border-left .4s, color .4s;
}

input:focus {
	outline: none;
	border-left: solid 5px #2980b9;
	color: #000;
}

label {
	border: none;
	border-left: solid 5px #fff;
	padding: 8px;
	font-size: 1em;
}

textarea {
	border: none;
	border-left: solid 5px #fff;
	padding: 8px;
	font-size: 1.2em;
	transition: border-left .4s, color .4s;
	resize: none;
	height: 100px;
	width: 100%;
}

textarea:focus {
	outline: none;
	border-left: solid 5px #2980b9;
	color: #000;
}

.progress {
	border-radius: 0;
	height: 4px;
}

.modal-content {
	border-radius: 0;
}

.nav-tabs {
	margin-bottom: -20px;
	width: 100%;
}

.nav-tabs>li {
	width: 25%;
	margin-bottom: -5px;
}

.nav-tabs>li>a {
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	border: none;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
	color: #fff;
	border: none;
}

.nav-tabs>li>a {
	color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li>a, .nav-tabs>li>a:hover {
	background-color: transparent;
}

select.form-control {
	font-size: 1.2em;
	padding: 12px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:active {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #ddd;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
	background-color: #1c2e40;
	color: #fff;
}

p a, p a:visited, p a:hover, p a:active {
	color: #fff;
	border-bottom: dotted 1px #fff;
}

p a:hover {
	text-decoration: none;
	border-bottom: solid 1px #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}