ErrorDocument 404 /index.html

Options +FollowSymlinks
RewriteEngine on
RewriteBase /home/adegiete/public_html/subdomains/amicalle

RewriteRule ^(reservation\.html)$ reservation.php [L]
RewriteRule ^(admin\.html)$ admin.php [L]